@font-face {
  font-family: "ValorantFont";
  src: url("../assets/font/Valorant-Font.ttf") format("truetype");
}

@font-face {
  font-family: "OrbitronBlack";
  src: url("../assets/font/Orbitron-Black.ttf") format("truetype");
}

@font-face {
  font-family: "OrbitronBold";
  src: url("../assets/font/Orbitron-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OrbitronRegular";
  src: url("../assets/font/Orbitron-Regular.ttf") format("truetype");
}

.kata {
  font-family: "ValorantFont", sans-serif;
  color: aliceblue;
}

.heading{
  font-family: "ValorantFont", sans-serif;
  color: aliceblue;
}

.heading > *{
    font-size: 30px;

}


.wrapper {
  display: flex;
  overflow-x: hidden;
}

.dummy2 {
  min-width: 90px;
  flex-grow: 0;
  background-color: aqua;
}

/*hilangkan side bar*/
@media screen and (max-width:867px) {
  .dummy2{
      display: none;
  }
  
}

.about-me {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background-position:bottom;
}

.transition-kotak-1, .transition-kotak-2{
  position: relative;
  min-height: 20vh;
  width: 100%;
  background-color: #3D0000;
}

.my-container-info{
  width: 100%;
  min-height: 150vh;
  background-color: #A0A0A0;
  margin: 0;
  padding: 0;
}

.real-about-me{
  position: relative;
}

.transition-stripes-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 231px;
  background-image: url('../assets/img/transition/transition1.svg');
}

.transition-stripes-2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 231px;
  background-image: url('../assets/img/transition/transition2.svg');
}


.img-frame{
  width: 324px;
  height: 576px;
}

.img-frame > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-frame-box{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




@media screen and (max-width:1110px) {
    .overlay-shadow{
    display: none;
  }

}

.description-text{
  font-family: "OrbitronRegular", sans-serif;
  font-size: 18px;
}

.bold-weight{
  font-family: "OrbitronBlack", sans-serif;
}

.my-description{
  position: relative;
  max-width: 720px;
  background-color: #5f0202;
  min-width: 375px;
  min-height: 500px;
  max-height: 900px;
  z-index: 1;
}
.my-description > * {
  max-width: 720px;
  color: #fff;
  z-index: 2;
} 

.my-button{
  background-color: #3D0000;
  padding: 1rem;
  transition: background-color 0.2s;
}

.my-button:hover{
  background-color: #850101;
}

.overlay-shadow{
  position: absolute;
  min-width: 750px;
  min-height: 400px;
  background-color: black;
}

.transition-kotak-2{
  max-width: 100vw;
}

.next-value{
  text-align: end;
  width: 92vw;
  color: aliceblue;
  font-family: "ValorantFont", sans-serif;
  font-size: 80px;
}

.next-intro{
  position: absolute;
  bottom: 0;
  text-align: end;
  width: 92vw;
  color: aliceblue;
  font-family: "ValorantFont", sans-serif;
  font-size: 80px;
}


@media screen and (max-width:867px) {
  .my-description{
    margin-top: 30px;
  }


  .my-frame-box{
    padding: 0;
    margin: 0;
  }

  .next-value{
    font-size: 50px;
}

.next-intro{
  font-size: 50px;
}

#more-pad1{
padding: 100px 0px;

}
#more-pad2{
  padding-bottom: 100px;
}

}

.my-svg{
    transition: filter 0.3s ease-in-out;
}

.my-svg:hover{
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}

