@font-face {
  font-family: "ValorantFont";
  src: url("../assets/font/Valorant-Font.ttf") format("truetype");
}

.kata {
  font-family: "ValorantFont", sans-serif;
  color: aliceblue;
}

.wrapper {
  display: flex;
  overflow-x: hidden;
}

.dummy2 {
  min-width: 90px;
  flex-grow: 0;
  background-color: aqua;
}

/*hilangkan side bar*/
@media screen and (max-width:867px) {
  .dummy2{
      display: none;
  }
  
}

.about-me {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background-position:bottom;
}

.transition-kotak-1, .transition-kotak-2{
  min-height: 20vh;
  width: 100%;
  background-color: #3D0000;
}

.my-container-info{
  width: 100%;
  min-height: 150vh;
  background-color: #A0A0A0;
}

.real-about-me{
  position: relative;
}

.transition-stripes-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 231px;
  background-image: url('../assets/img/transition/transition1.svg');
}

.transition-stripes-2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 231px;
  background-image: url('../assets/img/transition/transition2.svg');
}